<div class="banner" style=" background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "tii7s7ffvgxx62hqmy4y", crop: :fill %>')">
  <div class="banner-content">
    <h1>Cocktail</h1>
    <p>you choose the drink, we make sure you die</p>
    <%= link_to 'Create new cocktail', new_cocktail_path, class: "btn btn-danger" %></td>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-trip">
        <%= cl_image_tag cocktail.photo %>
        <div class="card-trip-infos">
          <div>
            <h2><%=link_to cocktail.name, cocktail %></h2>
            <p>Try it!</p>
            <p><%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
