
<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<%= cl_image_tag @cocktail.photo %>

<p>
  <strong>ingredients:</strong>
  <% @cocktail.doses.each do |dose| %>
  <ul>
  <il><%= dose.description %> <%= dose.ingredient.name %> <td><%= link_to 'Destroy', dose, method: :delete, data: { confirm: 'Are you sure?' } %></td></il>
</ul>
 <% end %>
</p>

<%= link_to 'Back', cocktails_path %> |
<br>
<%= link_to "add ingredient", new_cocktail_dose_path(@cocktail) %>

